In [1]:
#import dependencies 
import pandas as pd
import psycopg2
from config import db_password
from sqlalchemy import create_engine

In [2]:
file = 'data/high_diamond_ranked_10min.csv'

In [3]:
df = pd.read_csv(file)

In [4]:
df.head()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,4523371949,0,12,1,0,5,5,5,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,4521474530,0,15,0,0,7,11,4,1,1,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,4524384067,0,43,1,0,4,5,5,1,0,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,4436033771,0,75,4,0,6,6,6,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4

In [5]:
df.describe()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
count,9.879000e+03,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,...,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000
mean,4.500084e+09,0.499038,22.288288,2.824881,0.504808,6.183925,6.137666,6.645106,0.549954,0.361980,...,0.043021,16489.041401,6.925316,17961.730438,217.349226,51.313088,-14.414111,33.620306,21.734923,1648.904140
std,2.757328e+07,0.500024,18.019177,2.174998,0.500002,3.011028,2.933818,4.064520,0.625527,0.480597,...,0.216900,1490.888406,0.305311,1198.583912,21.911668,10.027885,2453.349179,1920.370438,2.191167,149.088841
min,4.295358e+09,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,11212.000000,4.800000,10465.000000,107.000000,4.000000,-11467.000000,-8348.000000,10.700000,1121.200000
25%,4.483301e+09,0.000000,14.000000,1.000000,0.000000,4.000000,4.000000,4.000000,0.000000,0.000000,...,0.000000,15427.500000,6.800000,17209.500000,203.000000,44.000000,-1596.000000,-1212.000000,20.300000,1542.750000
50%,4.510920e+09,0.000000,16.000000,3.000000,1.000000,6.000000,6.000000,6.000000,0.000000,0.000000,...,0.000000,16378.000000,7.000000,17974.000000,218.000000,51.000000,-14.000000,28.000000,21.800000,1637.800000
75%,4.521733e+09,1.000000,20.000000,4.000000,1.000000,8.000000,8.000000,9.000000,1.000000,1.000000,...,0.000000,17418.500000,7.200000,18764.500000,233.000000,57.000000,1585.500000,1290.500000,23.300000,1741.850000
max,4.527991e+09,1.000000,250.000000,27.000000,1.000000,22.000000,22.000000,29.000000,2.000000,1.000000,...,2.000000,22732.000000,8.200000,22269.000000,289.000000,92.000000,10830.000000,9333.000000,28.900000,2273.200000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9879 entries, 0 to 9878
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   gameId                        9879 non-null   int64
 1   blueWins                      9879 non-null   int64
 2   blueWardsPlaced               9879 non-null   int64
 3   blueWardsDestroyed            9879 non-null   int64
 4   blueFirstBlood                9879 non-null   int64
 5   blueKills                     9879 non-null   int64
 6   blueDeaths                    9879 non-null   int64
 7   blueAssists                   9879 non-null   int64
 8   blueEliteMonsters             9879 non-null   int64
 9   blueDragons                   9879 non-null   int64
 10  blueHeralds                   9879 non-null   int64
 11  blueTowersDestroyed           9879 non-null   int64
 12  blueTotalGold                 9879 non-null   int64
 13  blueAvgLevel                  9879 non-null   float64
 14  blueTotalExperience           9879 non-null   int64
 15  blueTotalMinionsKilled        9879 non-null   int64
 16  blueTotalJungleMinionsKilled  9879 non-null   int64
 17  blueGoldDiff                  9879 non-null   int64
 18  blueExperienceDiff            9879 non-null   int64
 19  blueCSPerMin                  9879 non-null   float64
 20  blueGoldPerMin                9879 non-null   float64
 21  redWardsPlaced                9879 non-null   int64
 22  redWardsDestroyed             9879 non-null   int64
 23  redFirstBlood                 9879 non-null   int64
 24  redKills                      9879 non-null   int64
 25  redDeaths                     9879 non-null   int64
 26  redAssists                    9879 non-null   int64
 27  redEliteMonsters              9879 non-null   int64
 28  redDragons                    9879 non-null   int64
 29  redHeralds                    9879 non-null   int64
 30  redTowersDestroyed            9879 non-null   int64
 31  redTotalGold                  9879 non-null   int64
 32  redAvgLevel                   9879 non-null   float64
 33  redTotalExperience            9879 non-null   int64
 34  redTotalMinionsKilled         9879 non-null   int64
 35  redTotalJungleMinionsKilled   9879 non-null   int64
 36  redGoldDiff                   9879 non-null   int64
 37  redExperienceDiff             9879 non-null   int64
 38  redCSPerMin                   9879 non-null   float64
 39  redGoldPerMin                 9879 non-null   float64
dtypes: float64(6), int64(34)
memory usage: 3.0 MB

Index(['gameId', 'blueWins', 'blueWardsPlaced', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists',
       'blueEliteMonsters', 'blueDragons', 'blueHeralds',
       'blueTowersDestroyed', 'blueTotalGold', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin',
       'bluewardsplaced_diff'],
      dtype='object')

In [10]:
#all columns in dataset
original_columns = df.columns
original_columns

Index(['gameId', 'blueWins', 'blueWardsPlaced', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists',
       'blueEliteMonsters', 'blueDragons', 'blueHeralds',
       'blueTowersDestroyed', 'blueTotalGold', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin'],
      dtype='object')

In [8]:
#set up connection with postgres database
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/league_project_db"
engine = create_engine(db_string)
df.to_sql(name='master_table_1', con=engine)

In [21]:
#create difference features so that the length of the match is accounted for (i.e. longer matches will lead to more kills/minions killed ect)
df['bluewardsplaced_diff'] = df['blueWardsPlaced'] - df['redWardsPlaced']
df['blueWardsDestroyed_diff'] = df['blueWardsDestroyed'] - df['redWardsDestroyed']
df['blueKills_diff'] = df['blueKills'] - df['redKills']
df['blueDeaths_diff'] = df['blueDeaths'] - df['redDeaths']
df['blueAssists_diff'] = df['blueAssists'] - df['redAssists']
df['blueEliteMonsters_diff'] = df['blueEliteMonsters'] - df['redEliteMonsters']
df['blueDragons_diff'] = df['blueDragons'] - df['redDragons']
df['blueHeralds_diff'] = df['blueHeralds'] - df['redHeralds']
df['blueTowersDestroyed_diff'] = df['blueTowersDestroyed'] - df['redTowersDestroyed']
df['blueAvgLevel_diff'] = df['blueAvgLevel'] - df['redAvgLevel']
df['blueTotalMinionsKilled_diff'] = df['blueTotalMinionsKilled'] - df['redTotalMinionsKilled']
df['blueTotalJungleMinionsKilled_diff'] = df['blueTotalJungleMinionsKilled'] - df['redTotalJungleMinionsKilled']
df['blueCSPerMin_diff'] = df['blueCSPerMin'] - df['redCSPerMin']
df['blueGoldPerMin_diff'] = df['blueGoldPerMin'] - df['redGoldPerMin']

In [24]:
drop_columns = ['blueWardsPlaced','redWardsPlaced','blueWardsDestroyed','redWardsDestroyed','blueKills',
               'redKills','blueDeaths','redDeaths','blueAssists','redAssists','blueEliteMonsters','redEliteMonsters','blueDragons',
               'redDragons','blueHeralds','redHeralds','blueTowersDestroyed','redTowersDestroyed','blueAvgLevel','redAvgLevel',
               'blueTotalMinionsKilled','redTotalMinionsKilled','blueTotalJungleMinionsKilled','redTotalJungleMinionsKilled',
               'blueCSPerMin','redCSPerMin','redGoldDiff','redExperienceDiff','blueTotalGold','redTotalGold',
               'blueTotalExperience','redTotalExperience','redGoldPerMin','blueGoldPerMin','redFirstBlood']

In [26]:
diff_df = df.drop(drop_columns,axis=1)

In [27]:
diff_df

,gameId,blueWins,blueFirstBlood,blueGoldDiff,blueExperienceDiff,bluewardsplaced_diff,blueWardsDestroyed_diff,blueKills_diff,blueDeaths_diff,blueAssists_diff,blueEliteMonsters_diff,blueDragons_diff,blueHeralds_diff,blueTowersDestroyed_diff,blueAvgLevel_diff,blueTotalMinionsKilled_diff,blueTotalJungleMinionsKilled_diff,blueCSPerMin_diff,blueGoldPerMin_diff
0,4519157822,0,1,643,-8,13,-4,3,-3,3,0,0,0,0,-0.2,-2,-19,-0.2,64.3
1,4523371949,0,0,-2908,-1173,0,0,0,0,3,-2,-1,-1,-1,-0.2,-66,-9,-6.6,-290.8
2,4521474530,0,0,-1172,-1033,0,-3,-4,4,-10,1,1,0,0,-0.4,-17,18,-1.7,-117.2
3,4524384067,0,0,-1321,-7,28,-1,-1,1,-5,1,0,1,0,0.0,-34,8,-3.4,-132.1
4,4436033771,0,0,-1004,230,58,2,0,0,-1,-1,-1,0,0,0.0,-15,-10,-1.5,-100.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,4527873286,1,1,2519,2469,-29,-1,3,-3,-2,1,1,0,0,0.4,-18,35,-1.8,251.9
9875,4527797466,1,0,782,888,42,-21,2,-2,5,1,1,0,0,0.2,27,-8,2.7,78.2
9876,4527713716,0,0,-2416,-1877,9,1,-1,1,-6,-1,-1,0,0,-0.4,-51,-15,-5.1,-241.6
9877,4527628313,0,1,-839,-1085,-52,0,-1,1,2,1,1,0,0,-0.6,-23,8,-2.3,-83.9
9878,4523772935,1,1,927,-58,9,-2,0,0,1,-1,-1,0,0,0.2,6,-2,0.6,92.7